.copy-code-button {
  color: wheat;
  background-color: #fff;
  border-color: #272822;
  border: 2px solid;
  border-radius: 4px 4px 4px 4px;

  /* right-align */
  display: none;
  margin-left: 640px;

  margin-top: 10px;
  padding: 3px 8px;
  font-size: 0.8em;
  z-index: 999;
  position: absolute;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #e6e6e6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #d9d9d9;
}